# IntelliJ IDEA
.idea/

# Compiled class files
*.class

# Log files
*.log

# Build output
/target/

# IDE-specific files
/.idea/
*.iml
*.iws

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle specific files
.gradle/
build/

# Spring Boot
mvnw
mvnw.cmd
!src/main/
!src/test/
!src/test/java/

# Logs
log/
logs/

gradle/

# Temporary files
*.swp
*~
